<div class="accueil" id="accueil">


  <div class="titre">
    <h1 style="margin-bottom: 25px;">Concours Externe du Recrutement</h1>
    <h3 style="margin-right: 150px;"> Centre National d'Informatique La Meilleur Centre pour Les Recrutement</h3>
    <a [routerLink]="['/login']"><button class="bt publier">
        <div class="pbarre"></div>connexion
      </button></a>
    <a style="margin-left: 10px;" [routerLink]="['/register']">
      <button class="bt chercher">
        <div class="cbarre"></div>inscription
      </button>
    </a>

    <a style="margin-left: 10px;" [routerLink]="['/offresemploi']">
      <button class="bt chercher">
        <div class="cbarre"></div>offres
        d'emploi
      </button>
    </a>
  </div>
</div>


<section class="section1" id="apropos">
  <h1>Le service a Domicile en toute Sérénité</h1>

  <div class="secontainer">
    <div class="box">
      <div class="image"><img src="/assets/img/pres.png" alt=""></div>
      <h2>Prestataires qualifiés</h2>
      <p> Les meilleurs Prestataires dans touts les domaines </p>
    </div>
    <div class="box">
      <div class="image"><img src="/assets/img/assu.png" alt=""></div>
      <h2>préstations assureés</h2>
      <p>Toutes les préstations sont couvert par notre assurance</p>
    </div>
    <div class="box">
      <div class="image"><img src="/assets/img/rapide.png" alt=""></div>
      <h2 class="rea">Reponse en moins de 3j</h2>
      <p>plusieurs offres seront publier dans noter page</p>
    </div>

    <div class="box">
      <div class="image"><img src="/assets/img/prix.png" alt=""></div>
      <h2>Prime</h2>
      <p>Des prime bien fixés</p>
    </div>
  </div>


</section>

<section class="section2">
  <div class="container2">
    <img src="/assets/img/pic.jpg" alt="">
    <div class="contenu2">
      <h2>A propos de Nous</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil velit vero explicabo fugiat neque
        beatae! Dolor deserunt inventore aliquid reiciendis doloribus necessitatibus possimus illo cumque,
        eos recusandae culpa quisquam nulla nostrum dolorum earum beatae mollitia natus non ipsum
      <div class="numbers">
        <span>
          <div class="chiffres" data-value="500">+0</div>
          <h3 style="margin-left:15px ;">Employer</h3>
        </span>
        <span>
          <div class="chiffres" data-value="200">+0</div>
          <h3 style="margin-left:25px ;">Stager</h3>
        </span>
      </div>


    </div>
  </div>



</section>
<section class="section3">
  <h1>Comment postuler dans une offre ?</h1>
  <div class="container3">
    <div class="box3">
      <img src="/assets/img/image1.png" alt="">
      <h3>Choisire une offre</h3>
      <p>Choisir l'offre Remplir le formulaire avec le max des details</p>
    </div>
    <div class="box3">
      <img src="/assets/img/image2.png" alt="">
      <h3>Analyse les condidature </h3>
      <p>Notre module d'intelligence artificielle sélectionne les meilleurs CV pour vous.</p>
    </div>
    <div class="box3">
      <img src="/assets/img/image3.png" alt="">
      <h3>Souriez, c'est fait !</h3>
      <p>Le recruteur analyse votre CV et vous envoie une réponse dans les plus brefs délais</p>
    </div>
  </div>

</section>
<section class="section4">
  <h1>Comment Devenir un Préstataire ?</h1>
  <div class="container4">
    <div class="box4">
      <img src="/assets/img/pic1.png" alt="">
      <h3>creér un compte</h3>
      <p>Il suffit de creér un compte puis se connecter</p>
    </div>
    <div class="box4">
      <img src="/assets/img/pic2.png" alt="">
      <h3>Passer un Test Technique</h3>
      <p>Sélectionnez une offre parmi nos offres, puis choisissez le test technique qui correspond à vos compétences et
        intérêts</p>
    </div>
    <div class="box4">
      <img src="/assets/img/pic3.png" alt="">
      <h3>Postuler à une Offre</h3>
      <p> Choisissez une offre parmi nos offres disponibles, puis postulez à celle qui correspond à vos compétences et
        intérêts. </p>
    </div>
  </div>

</section>

<footer id="contact">
  <div class="rej">Rejoignez-nous sur Nos Reseaux socieaux</div>
  <div class="icons">
    <a href="www.facebook.com"><img src="/assets/img/facebook.png" alt=""></a>
    <a href="www.facebook.com"><img src="/assets/img/instagram.png" alt=""></a>
    <a href="www.facebook.com"><img src="/assets/img/skype.png" alt=""></a>
    <a href="www.facebook.com"><img src="/assets/img/linkedin.png" alt=""></a>
    <a href="www.facebook.com"><img src="/assets/img/whatsapp.png" alt=""></a>
  </div>
  <div class="contacter"> <button>Nous-Contacter <div class="back"></div></button></div>
  <div class="trait"></div>
  <div class="cr">©Touts Les droits sont resérvé CNI</div>
</footer>