<!--begin::Authentication - Password reset -->
<div
  id="kt_body"
  class="app-blank"
  style="
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
  "
>
  <div class="d-flex flex-column flex-lg-row flex-column-fluid">
    <!--begin::Body-->
    <div
      class="d-flex flex-column flex-lg-row-fluid w-lg-50 p-10 order-2 order-lg-1"
    >
      <!--begin::Card-->
      <div class="d-flex flex-center flex-column flex-lg-row-fluid">
        <!--begin::Wrapper-->
        <div class="w-lg-500px p-10 register-form">
          <!--begin::Form-->
          <br />
          <br />
          <br />
          <br />
          <br />
          <form
            class="form w-100"
            novalidate="novalidate"
            id="kt_password_reset_form"
            data-kt-redirect-url="/metronic8/demo46/authentication/layouts/creative/new-password.html"
            action="#"
          >
            <!--begin::Heading-->
            <div class="text-center mb-10">
              <!--begin::Title-->
              <h1 class="text-gray-900 fw-bolder mb-3">Forgot Password ?</h1>
              <!--end::Title-->

              <!--begin::Link-->
              <div class="text-gray-500 fw-semibold fs-6">
                Enter your email to reset your password.
              </div>
              <!--end::Link-->
            </div>
            <!--begin::Heading-->

            <!--begin::Input group--->
            <div class="fv-row mb-8">
              <!--begin::Email-->
              <input
                type="text"
                placeholder="Email"
                name="email"
                autocomplete="off"
                class="form-control bg-transparent"
              />
              <!--end::Email-->
            </div>

            <!--begin::Actions-->
            <div class="d-flex flex-wrap justify-content-center pb-lg-0">
              <button
                type="button"
                id="kt_password_reset_submit"
                class="btn btn-primary me-4"
              >
                <!--begin::Indicator label-->
                <span class="indicator-label"> Submit</span>
                <!--end::Indicator label-->
              </button>

              <a class="btn btn-light">Cancel</a>
            </div>
            <!--end::Actions-->
          </form>
          <!--end::Form-->
        </div>
        <!--end::Wrapper-->
      </div>
      <!--end::Card-->
    </div>
    <!--end::Body-->
  </div>
  <!--end::Authentication - Password reset-->

  <!--end::Root-->

  <!--begin::Javascript-->

  <!--begin::Custom Javascript(used for this page only)-->
  <script src="/metronic8/demo46/assets/js/custom/authentication/reset-password/reset-password.js"></script>
  <!--end::Custom Javascript-->
  <!--end::Javascript-->
</div>
<!--end::Body-->
